*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(18, 35, 104, 0.7), rgba(8, 30, 119, 0.7)), url(images/back.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.text-area{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-area h1{
    font-style: italic;
    font-family: 'Oleo Script', cursive;
    font-size: 65px;
    margin: 30px 20px 40px;
}
.text-area p{
    margin: 30px 0 50px;
    font-size: 20px;
    color: white;
}
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 550;
}
p{
    color: rgb(104, 103, 103);
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin: 2%;
    display: flex;
    justify-content: center;
}
.about-col{
    flex-basis: 30%;
    background: rgb(217, 231, 235);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    font-size: 16px;
    font-weight: 300;
}
.about-coll{
    flex-basis: 30%;
    border-radius: 10px;
    background: rgb(217, 231, 235);
    margin-bottom: 5%;
    padding: 20px 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 50;
}